<div class="container" ng-controller="IndexCtrl">
  <h1 class="text-center text-danger">Angular 地址联动示例</h1>

  <div class="form-horizontal">
    <div class="form-group">
      <label class="col-md-2 control-label">
        地址
      </label>
      <div class="col-md-10">
        <select required="" class="form-control" >
          <option value="">省</option>
        </select>
        <select class="form-control" >
          <option value="">市</option>
        </select>
        <select class="form-control" >
          <option value="">区</option>
        </select>
      </div>
    </div>
    <!--<div class="form-group">-->
      <!--<div class="col-md-offset-2 col-md-10">-->
        <!--<button type="submit" class="btn btn-primary btn-sm" ng-click="submit()">-->
          <!--提交-->
        <!--</button>-->
      <!--</div>-->
    <!--</div>-->
  </div>
</div>

